<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='./node_modules/ejs/ejs.js'></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <div id='box'></div>
    
    <script>
        // var data = '我是ejs模板数据';
        var arr = [1,2,3,4,5,6]
        // var tmp = `<h1><%= data %></h1>`;
        var html = `
            <% for(var i=0;i<arr.length;i++) { %>
                <li><%= arr[i] %></li>
            <%}%>`
          
        
        var str = ejs.render(html, arr);
        $('#box').html(str)
    </script>
</body>
</html>